.contact {
  a {
    color: var(--col-black);
    text-decoration: none;
    font-weight: var(--fw-accent);
    transition: color var(--transition);
    &:hover {
      color: var(--col-accent-400);
    }
  }
  .social-icons {
    a {
      color: var(--col-accent-400);
      transition: color var(--transition);
      &:hover {
        color: var(--col-black);
      }
    }
  }
}
